* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #fff;
}


.header {
    position: relative;
    height: 100vh;
    background: url('mountains-morning-snow-rock-mountain-landscape.png') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2;
    max-width: 800px;
    padding: 20px;
}

.content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.content p {
    font-size: 1.1rem;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.buttons a {
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
}

.buttons .btn-primary {
    background:white;
    color: black;
}

.buttons .btn-secondary {
    border: none;
    
}

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.navbar .logo {
    font-weight: bold;
    font-size: 24px;
    color: #fff;
}

.navbar .logo span {
    
}


.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

